/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  max-width: 100%;
}
/* /GENERAL */

/* UTILITY */
.container {
  width: 90vw;
  margin: 0 auto;
}
.bg-color-btn {
  background-color: #4a4a4a;
  border: none;
}
.btn {
  padding: 5px;
  border-radius: 5px;
  color: white;
}

.d-flex {
  display: flex;
}

.active {
  color: #4bc800;
}
/* /UTILITY */

/* HEADER */
header {
  height: 70px;
  padding: 5px 5px;
}

.content-header {
  justify-content: flex-end;
}

.content-header .view button:first-child::before {
  font-family: "FontAwesome";
  content: "\f00a";
}
/* /HEADER */

/* MAIN */
main {
  height: calc(100vh - 160px);
  overflow: auto;
}

main .container {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
main .person {
  width: calc(100% / 7 - 6px);
  position: relative;
  margin: 5px 3px;
  min-width: 200px;
}

.person .status-name{
  position: absolute;
  left: 0;
  bottom: 5px;
  padding: 8px;
  background-color: rgba(101,114,124, .6);
}

.person .status-name span {
  font-size: 0.8rem;
}
/* /MAIN */

/* FOOTER */
footer {
  height: 90px;
  background-color: #222222;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}

footer ul{
  list-style: none;
}

footer li .action {
  padding: 5px;
  text-align: center;
}

footer li .action i {
  font-size: 2rem;
  margin-bottom: 10px;
}

footer li .open {
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

.action p, .open i {
  font-size: 0.8rem;
}

footer .menu-center li {
  margin-left: 10px;
}

.button-footer button {
  height: 90px;
  padding: 0 20px;
  color: red;
}
/* /FOOTER */